
* {
    box-sizing:border-box;
  }
  
.nav {
    background-color: transparent;
    color:#342e37;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap: 2rem;
    padding:0 1rem;
}

.nav ul {
    padding: 0;
    margin:0;
    list-style:none;
    margin-right:-400px;
}

.nav a{
    color:inherit;
    margin-top:25px;
    margin-bottom:15px;
    margin-left:10px;
    margin-right:30px;
    cursor:pointer;
    text-decoration:none;
    font-weight:600;
    height:100%;
}

.logo {
    width: 20%;
    margin-left: 80px;
}

.nav li a:hover {
    opacity: 50%;
}

.nav li a.active {
    background-color:Black;
}


.nav ul li a {
    position:relative;
}

.nav ul li a::after{
    content:'';
    height:3px;
    width:0;
    background:#8e6e53;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:0.5s;
    opacity: 100%;
}

.nav ul li a:hover::after{
    width:100%;
}
